# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js
node_modules/

# My personal preferences for IDEs
.vscode/
.idea/

# Common exclusions
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*.bak
*.tmp
